<div>
	<h1>当サイトについて</h1>
</div>

<div>
	<h3>新生活応援！生鮮食品相場チェッカーは、各地域ごとの生鮮食品相場が分かる口コミサイトです。<br>
			新生活が始まったばかりでドタバタの皆さまを少しでもサポートすべく、<br>
			主要な生鮮食品について相場を掲載しております。<br>
			相場より安いスーパーを探す、高いスーパーでの買い物を避けるなど<br>
			有意義な商品の購入にご活用ください！<br>
			併せて、このサイトを利用してよかったと思われた方は、ぜひ口コミへのご協力もお願いいたします！！<br>
	</h3>
</div>

<div class="about_img"></div>