<div class="about_title_area">
	<h1 class="about_title_text">このサイトについて</h1>
</div>

<div class="about_body_area">
	<h3>新生活応援！生鮮食品相場チェッカーは、各地域ごとの生鮮食品相場が分かる口コミサイトです。<br>
			<span class="underline">「引っ越してきたばかりでまだ何も分からないし、とりあえず出費だけは抑えたい、、、」</span><br>
			といった皆さまを少しでもサポートすべく、主要な生鮮食品について相場を掲載しております。<br>
			相場より安いスーパーを探す、高いスーパーでの買い物を避けるなど、<br>
			ぜひ有意義な商品の購入にご活用ください！<br>
			併せて、このサイトを利用してよかったと思われた方は、ぜひ口コミへのご協力もお願いします！<br>
	</h3>
</div>

<div class="about_img"></div>